<h1 mat-dialog-title>Détail de l'inspection {{ inspection.id }}</h1>
<div mat-dialog-content>
    <mat-tab-group [color]="primary" [backgroundColor]="primary">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">build</mat-icon>
            Inspection
          </ng-template>
            <div class="dialog-qrcode-container">
                <qrcode [qrdata]="'https://www.google.com/'+inspection.id" [size]="128" [level]="'M'"></qrcode>
            </div>
            <form [formGroup]="inspectionForm" class="dialog-form-container">
              <mat-form-field>
                <input matInput placeholder="Numéro" formControlName="id" >
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="designation"></textarea>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Statut" formControlName="statut" >
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Type d'inspection" formControlName="type" >
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Date prévue" formControlName="datePrevue" >
              </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">settings</mat-icon>
              Poste Technique & <br>
              Equipement
            </ng-template>
            <form [formGroup]="ptForm" class="dialog-form-container">
                <mat-form-field>
                  <input matInput placeholder="Numéro de Poste Technique" formControlName="id" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Désignation du Poste Technique" formControlName="designation" >
                </mat-form-field>
            </form>
            <form [formGroup]="equipementForm" class="dialog-form-container">
                <mat-form-field>
                  <input matInput placeholder="Numéro de l'équipement" formControlName="id" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Désignation de l'équipement" formControlName="designation" >
                </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">assignment</mat-icon>
            Avis
          </ng-template>
          <form [formGroup]="avisForm" class="dialog-form-container">
              <mat-form-field>
                <input matInput placeholder="Numéro" formControlName="id" >
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Type" formControlName="type" >
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Cycle" formControlName="cycle" >
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Dernière Inspection" formControlName="last_inspection" >
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Prochaine Inspection" formControlName="next_inspection" >
              </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_balance</mat-icon>
              Ordre
            </ng-template>
            <form [formGroup]="ordreForm" class="dialog-form-container">
                <mat-form-field>
                  <input matInput placeholder="Numéro" formControlName="id" >
                </mat-form-field>
              </form>
          </mat-tab>
      </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="inspectionDialogClose()" color="primary">Fermer</button>
</div>