
table {
	width: 100%;
}

.mat-header-cell, .custom-cell-content {
	text-align: center;
}

.mat-header-cell{
	font-weight: 500;
	font-size:1.0em;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}