<div class="page-content">
<!--mat-form-field>
  <input matInput placeholder="Input">
</mat-form-field-->

<table mat-table [dataSource]="inspections">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Inspection Column -->
  <ng-container matColumnDef="Inspection">
    <th mat-header-cell *matHeaderCellDef >Inspections </th>
    <td mat-cell *matCellDef="let inspection"> {{inspection.posteTechnique.id}} {{inspection.posteTechnique.designation}}<br> <span style="font-size: 0.8em">{{inspection.type}} {{inspection.designation}}</span> </td>
  </ng-container>

  <!-- Name Column -->
  
  <ng-container matColumnDef="17/10">
    <th mat-header-cell *matHeaderCellDef> 17/10 </th>
    <td mat-cell *matCellDef="let inspection">
      <div [hidden]="!sameDate('2018-10-17',inspection.datePrevue)" class="custom-cell-content">
        <button mat-icon-button color="primary">
            <mat-icon>launch</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="18/10">
    <th mat-header-cell *matHeaderCellDef> 18/10 </th>
    <td mat-cell *matCellDef="let inspection">
        <div [hidden]="!sameDate('2018-10-18',inspection.datePrevue)" class="custom-cell-content">
            <button mat-icon-button color="primary">
                <mat-icon>launch</mat-icon>
            </button>
          </div> 
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="19/10">
    <th mat-header-cell *matHeaderCellDef> 19/10 </th>
    <td mat-cell *matCellDef="let inspection">
        <div [hidden]="!sameDate('2018-10-19',inspection.datePrevue)" class="custom-cell-content">
            <button mat-icon-button color="primary">
                <mat-icon>launch</mat-icon>
            </button>
          </div> 
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="20/10">
    <th mat-header-cell *matHeaderCellDef> 20/10 </th>
    <td mat-cell *matCellDef="let inspection">
        <div [hidden]="!sameDate('2018-10-20',inspection.datePrevue)" class="custom-cell-content">
            <button mat-icon-button color="primary">
                <mat-icon>launch</mat-icon>
            </button>
          </div> 
    </td>
  </ng-container>
  
  <ng-container matColumnDef="21/10">
    <th mat-header-cell *matHeaderCellDef> 21/10 </th>
    <td mat-cell *matCellDef="let inspection">
        <div [hidden]="!sameDate('2018-10-21',inspection.datePrevue)"  class="custom-cell-content">
            <button mat-icon-button color="primary">
                <mat-icon>launch</mat-icon>
            </button>
          </div> 
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>