/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin:0px;
}

app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 16px 16px 16px;
}

app-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}